<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이어트 식단만들기</title>
</head>
<body>
    <table border="1" align="center" cellspacing="1" cellpadding="10" bgcolor="black" width="500">
        <tr height="100" bgcolor="white" align="center">
            <td><h1>다킹</h1><br/>
                <input type="submit" value="식단 만들기" /><br />  <input type="submit" value="식단 조회하기" /><br />  <input type="button" value="종료" /></td>
         </tr>
</table>
</body>
</html>